* {
  line-height: 172%;
  text-decoration: none;
  word-break: break-all;
  word-wrap: break-word;
}
body {
  padding: 0;
  margin: 0;
}
section {
  padding: 0 8%;
  word-break: normal;
  word-wrap: normal;
  blockquote {
    border-left:solid 1em #AAA;
    padding: .125em 1em;
    margin: 2em;
  }
  img {
    display: block;
    margin-right: 2em;
    margin-bottom: 2em;
    float: left;
  }
  h1, h2, h3, h4, h5{
    font-family: georgia, Arial, serif;
    font-weight: normal;
    transform: scaleY(1.2);
  }
  h1 {
    font-size: 36pt;
    line-height: 128%;
    padding: 0;
  }
  p {
    font-family:  'Trebuchet MS','Helvetica', 'Hiragino Kaku Gothic Pro', Meiryo;
    text-indent: 1.25em;
  }
  code, pre {
    font-family: "Source Code Pro", "Liberation Mono", Consolas, Courier, monospace, sans-serif;
    border: solid 1px #777;
    border-radius: 3px;
  }
  code {
    display: inline;
    margin: 0 .25em;
    padding: .125em .3em;
    white-space: pre;
  }
  pre {
    background-color: #333;
    color: #FFF;
    padding: .5em;
    white-space: normal;
    margin: 1.5em;
    code {
      display: block;
      border: none;
    }
  }
}
footer {
  display: block;
  color: #333;
  margin: 2em 0;
  div {
    display: block;
    padding: 0 16%;
    border-top: dotted 2px #AAA;
    text-align: center;
  }
}
@media screen and (max-aspect-ratio: 1/1), (max-width : 640px)  {
  section {
    padding: 0 4%;
  }
}
